<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>dashboard</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{../}">Homepage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{../users}">Users</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{../tasks}">Tasks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{../servers}">Servers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{../settings}">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{../server-reports}">Server Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{../logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<div style="width:100% !important; margin-top:5rem;"></div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <form id="taskFrm">
                <div class="form-group">
                    <label for="taskUrl">Task URL:</label>
                    <input type="text" name="taskUrl" class="form-control" id="taskUrl" placeholder="Task URL:">
                </div>
                <div class="form-group">
                    <label for="taskType">Task Type:</label>
                    <select class="form-control" name="taskType" id="taskType">
                        <option th:each="tasks : ${taskTypes}" th:text="${tasks}" th:value="${tasks}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="taskCount"> Task Count:</label>
                    <input type="number" name="taskCount" class="form-control" id="taskCount" placeholder="Task Count (e.g: 20)">
                </div>

                <div class="form-group">
                    <label for="taskProxyStatus">Task Proxy Usage:</label>
                    <select class="form-control" name="taskProxyStatus" id="taskProxyStatus">
                        <option value="true">Enabled</option>
                        <option value="false">Disabled</option>
                    </select>
                </div>


                <div class="form-group">
                    <label for="taskStatus">Task Status: </label>
                    <select class="form-control" name="taskStatus" id="taskStatus">
                        <option class="form-control" value="true">Active</option>
                        <option class="form-control" value="false">Disable</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="taskExtras">Task Extras:</label>
                    <input type="text" name="taskExtras" class="form-control" id="taskExtras" placeholder="Task Extras:">
                </div>
            </form>
            <button type="button" class="btn btn-primary" id="taskAddBtn">Add Task</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
    $("#taskAddBtn").click(function(){
        $.ajax({
            type: "POST",
            url: "../api/task/add",
            data: $("#taskFrm").serialize(),
            dataType: "json",
            success: function(response){
                if (response.id != null){
                    window.location.href = "../tasks";
                }else{
                    alert("Something went wrong");
                }
            }
        });
    });
</script>
</body>
</html>